## Begining in R language

## Lesson 1: knowing the data

In [1]:
ana_silva <- c('Ana Silva', 28, 6230.50, 'Não possui', TRUE)
ana_silva

[1] "Ana Silva"  "28"         "6230.5"     "Não possui" "TRUE"

In [2]:
names(ana_silva) <- c('Nome', 'Idade', 'Salário', 'Telefone', 'Trabalho remoto')
ana_silva

           Nome           Idade         Salário        Telefone Trabalho remoto
    "Ana Silva"            "28"        "6230.5"    "Não possui"          "TRUE"

In [3]:
carlos_oliveira <- c('Carlos Oliveira', 35, 7500.75, '(11) 1234-5678', TRUE)

maria_santos <- c('Maria Santos', 40, 8000.25, '(21) 9876-5432', TRUE)

joao_costa <- c('Joao Costa', '32', 2460.80, 'Não possui', FALSE)

fernanda_lima <- c('Fernanda Lima', 27, 4230.35, '(31) 8765-4321', TRUE)

### Creating a matrix

To create a matrix in R, we use a function called matrix() which takes four arguments:

* vector: the data we will use to create the matrix;
* nrow: the number of rows we want in the matrix;
* ncol: the number of columns we want in the matrix;
* byrow (optional): specifies whether we want to create the matrix by rows or columns. If set to TRUE, it will create the matrix by rows. If set to FALSE, it will create the matrix by columns.

In [4]:
colab_combinado <- c(ana_silva, carlos_oliveira, maria_santos, joao_costa, fernanda_lima)

In [6]:
matriz_colab <- matrix(colab_combinado, nrow = 5, byrow = TRUE)
matriz_colab

     [,1]            [,2] [,3]    [,4]           [,5]
[1,] Ana Silva       28   6230.5  Não possui     TRUE
[2,] Carlos Oliveira 35   7500.75 (11) 1234-5678 TRUE
[3,] Maria Santos    40   8000.25 (21) 9876-5432 TRUE
[4,] Joao Costa      32   2460.8  Não possui     FALSE
[5,] Fernanda Lima   27   4230.35 (31) 8765-4321 TRUE

In [8]:
rownames(matriz_colab) <- c('Colaboradora Ana', 'Colaborador Carlos', 'Colaboradora Maria', 'Colaborador Joao', 'Colaboradora Fernanda')
colnames(matriz_colab) <- c('Nome','Idade','Salário','Telefone','Trabalho remoto')

matriz_colab

                      Nome            Idade Salário Telefone
Colaboradora Ana      Ana Silva       28    6230.5  Não possui
Colaborador Carlos    Carlos Oliveira 35    7500.75 (11) 1234-5678
Colaboradora Maria    Maria Santos    40    8000.25 (21) 9876-5432
Colaborador Joao      Joao Costa      32    2460.8  Não possui
Colaboradora Fernanda Fernanda Lima   27    4230.35 (31) 8765-4321
                      Trabalho remoto
Colaboradora Ana      TRUE
Colaborador Carlos    TRUE
Colaboradora Maria    TRUE
Colaborador Joao      FALSE
Colaboradora Fernanda TRUE

## Lesson 2: manipulating data

In [13]:
# Vector with values of sales for each month
vendas_jan <- c(20, 18, 25, 16, 23)
vendas_fev <- c(15, 20, 22, 18, 19)
vendas_mar <- c(25, 23, 20, 17, 21)
vendas_abr <- c(18, 15, 19, 20, 24)
vendas_mai <- c(22, 25, 21, 15, 18)
vendas_jun <- c(21, 22, 19, 17, 20)

In [12]:
# Names of the salespeople
pessoas <- c("Pedro Santos", "Carla Nunes", "Maria Eduarda", "Luiz Felipe", "Julio Costa")

# Months
meses <- c("Janeiro", "Fevereiro", "Marco", "Abril", "Maio", "Junho")

In [14]:
# Combining the vectors
vendas_semestre <- c(vendas_jan, vendas_fev, vendas_mar, vendas_abr, vendas_mai, vendas_jun)

# Sale by month and salesperson
matriz_vendas <- matrix(vendas_semestre, nrow = 5, byrow = FALSE)

In [15]:
# Set the row and column names
rownames(matriz_vendas) <- pessoas
colnames(matriz_vendas) <- meses
# Show the matrix
matriz_vendas

              Janeiro Fevereiro Marco Abril Maio Junho
Pedro Santos  20      15        25    18    22   21
Carla Nunes   18      20        23    15    25   22
Maria Eduarda 25      22        20    19    21   19
Luiz Felipe   16      18        17    20    15   17
Julio Costa   23      19        21    24    18   20

##### Questions to answer:
* Which collaborator had the highest sales revenue?
* Which month had the highest revenue?

In [16]:
rowSums(matriz_vendas)

 Pedro Santos   Carla Nunes Maria Eduarda   Luiz Felipe   Julio Costa
          121           123           126           103           125

In [17]:
colSums(matriz_vendas)

  Janeiro Fevereiro     Marco     Abril      Maio     Junho
      102        94       106        96       101        99

##### Questions to answer:
* Which collaborator had the highest sales revenue? Maria Eduarda
* Which month had the highest revenue? Março

In [18]:
total_colab <- rowSums(matriz_vendas)

matriz_total_colab <- cbind(matriz_vendas, total_colab)
matriz_total_colab

              Janeiro Fevereiro Marco Abril Maio Junho total_colab
Pedro Santos  20      15        25    18    22   21    121
Carla Nunes   18      20        23    15    25   22    123
Maria Eduarda 25      22        20    19    21   19    126
Luiz Felipe   16      18        17    20    15   17    103
Julio Costa   23      19        21    24    18   20    125

In [19]:
total_meses <- colSums(matriz_vendas)

matriz_total_meses <- rbind(matriz_vendas, total_meses)
matriz_total_meses

              Janeiro Fevereiro Marco Abril Maio Junho
Pedro Santos   20     15         25   18     22  21
Carla Nunes    18     20         23   15     25  22
Maria Eduarda  25     22         20   19     21  19
Luiz Felipe    16     18         17   20     15  17
Julio Costa    23     19         21   24     18  20
total_meses   102     94        106   96    101  99