# Curso Visualização de Dados USP

##### importando as bibliotecas do Python

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

In [4]:
data = pd.read_csv('/home/naina/Projects/usp/data/CompanhiaMB.csv')
data2 = pd.read_csv('/home/naina/Projects/usp/data/dados_banco.csv')

In [5]:
data.head()

,funcionario,estado_civil,instrucao,nfilhos,salario,idade_anos,idade_meses,regiao
0,1,solteiro,ensino_fundamental,NaN,4.00,26,3,interior
1,2,casado,ensino_fundamental,1.0,4.56,32,10,capital
2,3,casado,ensino_fundamental,2.0,5.25,36,5,capital
3,4,solteiro,ensino_medio,NaN,5.73,20,10,outro
4,5,solteiro,ensino_fundamental,NaN,6.26,40,7,outro

### classificando os dados
##### fuincionario: qualitativa ordinal são numeros inteiros mas classificam o funcionarios não podem ser feitas operações com esses valores
##### estado_civil: qualitativa nominal
##### instrucao: qualitativa ordinal
##### nfilhos: quantitativa discreta
##### salario: quantitativa continua
##### idade_anos: quantitativa discreta
##### idade_meses: quantitativa discreta
##### regiao: qualitativa nominal

In [6]:
data2.head()

,Cliente,Sexo,Idade,Empresa,Salario,Saldo_cc,Saldo_poupança,Saldo_investimento,Devedor_cartao,Inadimplente
0,75928,M,32,Privada,5719.00,933.79,0.0,0.0,6023.68,0
1,52921,F,28,Privada,5064.00,628.37,0.0,0.0,1578.24,0
2,8387,F,24,Autônomo,4739.00,889.18,0.0,0.0,2578.70,0
3,54522,M,30,Pública,5215.00,1141.47,0.0,0.0,4348.96,0
4,45397,M,30,Autônomo,5215.56,520.70,0.0,0.0,1516.78,1

### classificando os dados
##### cliente: qualitaiva ordinal
##### sexo: qualitativa nominal
##### idade: quantitativa discreta
##### empresa: qualitativa nominal
##### salario: quantitativa continua
##### saldo_cc: quantitativa continua
##### saldo_poupanca: quantitativa continua
##### saldo_investimento: quantitativa continua
##### devedor_cartao: quantitativa continua
##### inadimplente: qualitativa nominal embora seja numerico trata-se de uma variavel booleana